workflow-gpt-airtable.json
{
  "name": "Airtable + GPT-4o",
  "nodes": [
    {
      "parameters": {
        "operation": "list",
        "application": "",
        "baseId": "={{ $env.AIRTABLE_BASE_ID }}",
        "tableId": "={{ $env.AIRTABLE_TABLE_ID }}"
      },
      "id": "1",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "credentials": {
        "airtableApi": {
          "id": "={{ $env.AIRTABLE_API_KEY }}",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    context: items.map(i => JSON.stringify(i.json)).join(\"\\n\")\n  }\n}];"
      },
      "id": "2",
      "name": "Formatear Datos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "text": "Usa solo el siguiente contexto para responder preguntas sobre oportunidades:\\n{{ $json.context }}"
      },
      "id": "3",
      "name": "OpenAI GPT-4o",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "={{ $env.OPENAI_API_KEY }}",
          "name": "OpenAI API"
        }
      }
    }
  ],
  "connections": {
    "Airtable": {
      "main": [
        [
          {
            "node": "Formatear Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Datos": {
      "main": [
        [
          {
            "node": "OpenAI GPT-4o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}